doctype html
html(lang='ru')
    head
        title WeGeeks Blank Template
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='webdeveloper' content='Разработка сайта - wegeeks.ru')
        link(rel='stylesheet' href='css/template.css')
        link(rel='icon' href='/favicon.ico' type='image/x-icon')
        link(rel='shortcut icon' href='/favicon.ico' type='image/x-icon')
    body
        .wrapper
            header.header.block
                .container
                    .row
                        .col-lg-4
                            .logo
                                a(href='/')
                                    img.img-responsive(src='images/logo.png', alt='')
                                    span.logo-title Софосбувир
                                    span.logo-subtitle Препарат для лечения гепатита С
                        .col-lg-3
                            .head-delivery Доставка во все города России и СНГ
                        .col-lg-2
                            .head-phone +7 951 652-99-31
                            .head-callback
                                span.head-callback-link.js-callback Обратный звонок
                        .col-lg-3
                            .head-cart
                                .head-cart-quantity В корзине <a href="#">2 товара</a>
                                .head-cart-sum на сумму: 1250 руб
                                .head-cart-quantityNum 2
            .topmenu.block
                .container
                    .row
                        .col-lg-12
                            .mobilemenu Меню сайта
                            ul.menu
                                li
                                    a(href='#') Главная
                                li
                                    a(href='#') Дженерики/Препараты
                                    ul
                                        li
                                            a(href='#') Даклатасвир
                                        li
                                            a(href='#') Софосбувир
                                        li
                                            a(href='#') Даклатасвир и Софосбувир
                                        li
                                            a(href='#') Софосбувир и Ледипасвир

                                li
                                    a(href='#') Лечение гепатита С
                                li
                                    a(href='#') Новости
                                li
                                    a(href='#') Доставка
                                li
                                    a(href='#') О компании
                                li
                                    a(href='#') Контакты

            main.content.block
                .container
                    .row
                        .col-lg-12
                            h1 Контакты
                            .col-lg-5
                                table.vcard
                                    tr
                                        td Телефон
                                        td.tel +7 951 652 99 31
                                    tr
                                        td E-mail
                                        td.email
                                            a(href="mailto:info@sofosbyvir.ru") info@sofosbyvir.ru
                                    tr
                                        td Вконтакте
                                        td
                                            a(href="vk.com/sofosbuvir_ledipasvir_hepcinat") vk.com/sofosbuvir_ledipasvir_hepcinat
                                    tr
                                        td Адрес
                                        td.adr
                                            span.locality г. Москва
                                            span.street-address  Шлюзовая наб., вл. 4/2
                                .card-map Карта
                            .col-lg-7
                                    form.callback-contact(action='#' method='post')
                                        .callback-contact-title Форма обратной связи
                                        .label Ваше имя:
                                            input.callback-contact-name(type='text' name='callback-contact-name' value='')
                                        .label Ваш телефон:
                                            input.callback-contact-phone(type='tel' name='callback-contact-phone' value='' required)
                                        .label Ваше сообщение:
                                            input.callback-contact-text(type='text' name='callback-contact-text' value='' required)
                                        button.callback-contact-btn(type='submit' name='callback-contact-btn'  value='sending') Отправить

                .container
                    .row
                        .col-lg-12
                            h1 Адреса
                            .address
                            .col-lg-4
                                .address-title.js-accordeone
                                    .address-item Москва
                                    .address-text Шлюзовая наб., вл. 4/2<br>Время работы: с 9:30 до 21:00<br>C понедельника по пятницу<br>тел. 8 (499) 322-96-69
                                .address-title.js-accordeone
                                    .address-item Санкт Петербург
                                .address-title.js-accordeone
                                    .address-item Архангельск
                                .address-title.js-accordeone
                                    .address-item Астрахань
                                .address-title.js-accordeone
                                    .address-item Барнаул
                            .col-lg-4
                                .address-title.js-accordeone
                                    .address-item Санкт Петербург
                                .address-title.js-accordeone
                                    .address-item Архангельск
                                .address-title.js-accordeone
                                    .address-item Астрахань
                                .address-title.js-accordeone
                                    .address-item Барнаул
                                .address-title.js-accordeone
                                    .address-item Белгород
                            .col-lg-4
                                .address-title.js-accordeone
                                    .address-item Великий Новгород
                                .address-title.js-accordeone
                                    .address-item Владивосток
                                .address-title.js-accordeone
                                    .address-item Владикавказ
                                .address-title.js-accordeone
                                    .address-item Владимир
                                .address-title.js-accordeone
                                    .address-item Волгоград
        footer.footer.block
            .container
                .row
                    .col-lg-4
                        .footlogo
                            a(href='/')
                                img.img-responsive(src='images/logo.png', alt='')
                                span.footlogo-title Софосбувир
                                span.footlogo-subtitle Препарат для лечения гепатита С
                        .footlogo-text Информация представленная на сайте должна использоваться в ознакомительных целях. Перед применением лекарств требуется консультация лечащего врача.
                    .col-lg-3
                        ul.footmenu
                            li
                                a(href='#') Что такое дженерики?
                            li
                                a(href='#') О компании
                            li
                                a(href='#') О препарате
                            li
                                a(href='#') Курс приема
                            li
                                a(href='#') О гепатите
                    .col-lg-2
                        ul.footmenu
                            li
                                a(href='#') Главная
                            li
                                a(href='#') Купить
                            li
                                a(href='#') Отзывы
                            li
                                a(href='#') Доставка
                            li
                                a(href='#') Контакты
                    .col-lg-3
                        .foot-phone +7 951 652-99-31
                        .foot-callback
                            .foot-callback-link.js-callback Обратный звонок
        .hidden
            form.callback-form(action='#' method='post')
                .callback-form-title Обратный звонок
                input.callback-form-name(type='text' name='callback-form-name' placeholder='Ваше имя' value='')
                input.callback-form-phone(type='tel' name='callback-form-phone' placeholder='Номер телефона' value='' required)
                button.callback-form-btn(type='submit' name='callback-form-btn'  value='sending') Отправить
        script(src='js/jquery-3.1.1.min.js')
        script(src='js/slick.min.js')
        script(src='js/template.js')