doctype html
html(lang='ru')
    head
        title WeGeeks Blank Template
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='webdeveloper' content='Разработка сайта - wegeeks.ru')
        link(rel='stylesheet' href='css/template.css')
        link(rel='icon' href='/favicon.ico' type='image/x-icon')
        link(rel='shortcut icon' href='/favicon.ico' type='image/x-icon')
    body
        .wrapper
            header.header.block
                .container
                    .row
                        .col-lg-4
                            .logo
                                a(href='/')
                                    img.img-responsive(src='images/logo.png', alt='')
                                    span.logo-title Софосбувир
                                    span.logo-subtitle Препарат для лечения гепатита С
                        .col-lg-3
                            .head-delivery Доставка во все города России и СНГ
                        .col-lg-2
                            .head-phone +7 951 652-99-31
                            .head-callback
                                .head-callback-link.js-callback Обратный звонок
                        .col-lg-3
                            .head-cart
                                .head-cart-quantity В корзине <a href="#">2 товара</a>
                                .head-cart-sum на сумму: 1250 руб
                                .head-cart-quantityNum 2
            .topmenu
                .container
                    .row
                        .col-lg-12
                            .mobilemenu Меню сайта
                            ul.menu
                                li
                                    a(href='#') Главная
                                li
                                    a(href='#') Дженерики/Препараты
                                li
                                    a(href='#') Лечение гепатита С
                                li
                                    a(href='#') Новости
                                li
                                    a(href='#') Доставка
                                li
                                    a(href='#') О компании
                                li
                                    a(href='#') Контакты

            main.content.block
                .container
                    .row
                        .col-lg-12
                            h1 Цены
                            table.c-table
                                caption Софосбувир + Даклатасвир
                                tr
                                    th Курс
                                    th Стоимость за неделю
                                    th Стоимость всего курса
                                tr
                                    td 12 недель (3 месяца)
                                    td 10200
                                    td 30600
                                tr
                                    td 16 недель (4 месяца)
                                    td 10200
                                    td 40800
                                tr
                                    td 20 недель (5 месяцев)
                                    td 10200
                                    td 51000
                                tr
                                    td 24 недели (6 месяцев)
                                    td 10200
                                    td 61200
                                tr
                                    td Более 24 недель
                                    td По запросу
                                    td По запросу
                            table.c-table
                                caption Даклатасвир + Ледипасвир (Ledifos LP)
                                tr
                                    th Курс
                                    th Стоимость за неделю
                                    th Стоимость всего курса
                                tr
                                    td 12 недель (3 месяца)
                                    td 10200
                                    td 30600
                                tr
                                    td 16 недель (4 месяца)
                                    td 10200
                                    td 40800
                                tr
                                    td 20 недель (5 месяцев)
                                    td 10200
                                    td 51000
                                tr
                                    td 24 недели (6 месяцев)
                                    td 10200
                                    td 61200
                                tr
                                    td Более 24 недель
                                    td По запросу
                                    td По запросу
                            table.c-table
                                caption Софосбувир
                                tr
                                    th Курс
                                    th Стоимость за неделю
                                    th Стоимость всего курса
                                tr
                                    td 12 недель (3 месяца)
                                    td 10200
                                    td 30600
                                tr
                                    td 16 недель (4 месяца)
                                    td 10200
                                    td 40800
                                tr
                                    td 20 недель (5 месяцев)
                                    td 10200
                                    td 51000
                                tr
                                    td 24 недели (6 месяцев)
                                    td 10200
                                    td 61200
                                tr
                                    td Более 24 недель
                                    td По запросу
                                    td По запросу
                            table.c-table
                                caption Даклатасвир
                                tr
                                    th Курс
                                    th Стоимость за неделю
                                    th Стоимость всего курса
                                tr
                                    td 12 недель (3 месяца)
                                    td 10200
                                    td 30600
                                tr
                                    td 16 недель (4 месяца)
                                    td 10200
                                    td 40800
                                tr
                                    td 20 недель (5 месяцев)
                                    td 10200
                                    td 51000
                                tr
                                    td 24 недели (6 месяцев)
                                    td 10200
                                    td 61200
                                tr
                                    td Более 24 недель
                                    td По запросу
                                    td По запросу
                                tr
                                    td 123
                .contentblock
                    .container
                        .row
                            .col-lg-12
                                .contentblock-text
                                    h2 Купить софосбувир даклатасвир
                                    p Софосбувир даклатасвир ингибитор, который борется с репликацией гепатита C в хронической форме. Высокоэффективный терапевтический препарат, одобренный клиническими испытаниями.
                                    p Софосбувир даклатасвир выпускается во всем мире. Это препарат справится с любым типом серьезного заболевания Гепатит C. Препарат можно приобрести у надежных поставщиков, которые работают с известной компанией, она зарекомендовала себя в сфере качественных лекарственных препаратов Heet Healthcare Pvt. Ltd в г. Санкт-Петербург.
                                    p Купить софосбувир даклатасвир по рекомендации врача можно определенной дозировки и в количестве, которое требуется для лечения. В Америке в 2013 году препарат Софосбувир прошел одобрение, и ЕА по изучению заболеваний печени дала рекомендации по использованию препарата в терапии гепатита С.<br>Таблетки Даклатасвир применяются в борьбе с гепатитом с разными генотипами от 1а, 2а, 3а, 4а, 5а, 6а его можно комбинировать с разными лекарственными препаратами. При использовании Даклатасвира и Софосбувира продуктивность лечения 100%, это доказано клиническими испытаниями.
        footer.footer.block
            .container
                .row
                    .col-lg-4
                        .footlogo
                            a(href='/')
                                img.img-responsive(src='images/logo.png', alt='')
                                span.footlogo-title Софосбувир
                                span.footlogo-subtitle Препарат для лечения гепатита С
                        .footlogo-text Информация представленная на сайте должна использоваться в ознакомительных целях. Перед применением лекарств требуется консультация лечащего врача.
                    .col-lg-3
                        ul.footmenu
                            li
                                a(href='#') Что такое дженерики?
                            li
                                a(href='#') О компании
                            li
                                a(href='#') О препарате
                            li
                                a(href='#') Курс приема
                            li
                                a(href='#') О гепатите
                    .col-lg-2
                        ul.footmenu
                            li
                                a(href='#') Главная
                            li
                                a(href='#') Купить
                            li
                                a(href='#') Отзывы
                            li
                                a(href='#') Доставка
                            li
                                a(href='#') Контакты
                    .col-lg-3
                        .foot-phone +7 951 652-99-31
                        .foot-callback
                            .foot-callback-link.js-callback Обратный звонок
        .hidden
            form.callback-form(action='#' method='post')
                .callback-form-title Обратный звонок
                input.callback-form-name(type='text' name='callback-form-name' placeholder='Ваше имя' value='')
                input.callback-form-phone(type='tel' name='callback-form-phone' placeholder='Номер телефона' value='' required)
                button.callback-form-btn(type='submit' name='callback-form-btn'  value='sending') Отправить
        script(src='js/jquery-3.1.1.min.js')
        script(src='js/slick.min.js')
        script(src='js/template.js')